
/*

Fonts: 
font-family: 'Alfa Slab One', cursive;
font-family: 'Martel', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif; */

.navbar-custom { 
    background-color: #222831; 
} 

body {
    background-color: #30475e;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    color: #f8f1f1;
    letter-spacing: 4px;
    padding: 50px;
    font-size: 60px;
}

a { 
    text-align: center;

}

h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #f8f1f1; 
    font-size: 25px;
}

/* Carousel CSS */

.carousel-inner img {
    margin: auto;
    object-fit: cover;
  }

.carousel .carousel-item {
    height: 500px;
  }


h5, p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

/* Card CSS */

.footer {
text-align: center;
margin-top: 100px;
}

h4 {
    font-family: 'Martel', serif;
    font-size: 20px;
}

.subtext {
    font-size: 15px;
}